.connter_icon {
    font-size: 40px;
    color: $theme-color;
    margin: 0 0 17px 0;
    transition: all ease 0.4s;

    i {
        line-height: 1;
    }
}

.counter-section {
    position: relative;
}

.counter-number {
    font-size: 72px;
    line-height: 1;
    margin-bottom: 8px;
    margin-top: -12px;
    font-weight: bold;
    color: $title-color;
}

.counter-text {
    margin-bottom: 0;
}

.counter-box {
    display: flex;

    .counter-icon {
        width: 60px;
        margin-right: 25px;
    }

    .counter-number {
        margin-bottom: 0;
        color: $white-color;
    }

    .counter-text {
        font-size: 18px;
        font-weight: 600;
        color: $white-color;
    }
}

@include lg {
    .counter-number {
        font-size: 60px;
        font-weight: 600;
    }

    .counter-text {
        font-weight: 500;
    }

    .counter-box {
        justify-content: center;
    }
}

@include md {
    .counter-number {
        font-size: 50px;
        margin-bottom: 0;
        margin-top: -7px;
    }
}

@include sm {
    .counter-number {
        font-size: 36px;
        margin-top: -5px;
    }
}